*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
*.zip
*.vscode
.idea
*.DS_Store

# CDK asset staging directory
.cdk.staging
cdk.out
cfnnag_output
/sample_file/
/src/layers/umccr_utils/python/
.aws-sam

node_modules/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
