*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
*.zip
*.vscode
.idea

# CDK asset staging directory
.cdk.staging
cdk.out
cfnnag_output
/sample_file/
/lambdas/layers/umccr_utils/python/
