cattrs==1.10.0
certifi==2022.12.7
charset-normalizer==2.0.4
constructs==3.3.207
idna==3.2
jsii==1.52.1
pandas==2.1.2
publication==0.0.3
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
scipy==1.10.1
six==1.16.0
typing_extensions==4.6.1
urllib3==1.26.6
aiohttp==3.9.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==21.4.0
v2-samplesheet-maker==4.2.4.post20231208143331
